
.photo-me{
  width: 20em;
  /*border: solid;*/
  border-radius: 20%;
  margin-top:3em;
  margin-left: 5em;
}

.my-image{
  float: left;
}

.my-name{
  color: black;
}

.navbar-menu{
  text-align: center;
}

#personal-content, .employ-background-section{
  background-color: black;
  color: white;
}

#projects{
  height:25em;
  padding-left:6em;
  padding-right:6em;
}

#work-history{
  margin-top: 2em;
  background-color:black;
  color: white;
  padding-left: 6em;
  padding-right:6em;
  padding-top: 4em;

}

.personal-section{
  min-height: 23em;
  background-color: black;
  color: white;
  padding-top: 4em;
  padding-left: 30em;
  padding-right: 15em;
}


.social-images{
  width: 2em;
  max-width:100%;
  padding: 1em 1em 1em 1em;
}

.project-images{
  width: 40em;
}

.repos{
  float:right;
  margin-right:10em;
}

.slide {

  .inside {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 3em;

    .nav-content {
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle;
      text-align: center;
    }
  }
}
