
.photome{
  width: 20em;
  border: solid;
  border-radius: 20%
}

.navbar{
  background-color: #41937F;
  margin-bottom: 1.5em;
  margin-top:1.5em;
  margin-left: 1em;
  padding-left:2em;
  padding-right:2em;
}

.navbar ul{
  margin-bottom: 0;
}

.navbar a{
  text-decoration: none;
  padding-right: 1em;
  color: black;
}

.myname{
  padding-left: .2em;
}

/*
@media only screen and (min-width: 640px) {
  .hamburger{
    display: none;
 }
   .navbar ul{
     display: block;
 }

/*@media only screen and (max-width: 640px) {
  .hamburger{
    display: block;
  }
  .menubar ul{
    display: !none;
  }*/
