
.photo-me{
  width: 20em;
  /*border: solid;*/
  border-radius: 20%;
}

.my-image{
  float: left;
}

.my-name{
  color: black;
}

.navbar-menu{
  text-align: center;
}

#personal-content, .employ-background-section{
  background-color: black;
  color: white;
}

.aboutme-paragraph{
  min-height: 23em;
  background-color: black;
  color: white;
  padding-top: 4em;
}
