
.photoMe {
  width: 20em;
}
img {
  width: 2em;
  max-width:100%
}
li {
  list-style: none;
}
body {
  background-color: #F7FFEF;
}
.navbar {
  background-color: #41937F;
  margin-bottom: 1.5em;
}
.navbar ul {
  display: inline-flex;
}
.navbar a {
  text-decoration: none;
  padding-right: 1em;
}
.template2 {
  display: none;
}
